apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ k8s_pki_dir }}/ca.crt
    server: https://{{ cluster_endpoint }}:6443
  name: default
contexts:
- context:
    cluster: default
    user: kube-proxy
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: kube-proxy
  user:
    client-certificate: {{ k8s_pki_dir }}/kube-proxy.crt
    client-key: {{ k8s_pki_dir }}/kube-proxy.key