apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ cert_dir }}/ca.crt
    server: https://127.0.0.1:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
users:
- name: kubernetes-admin
  user:
    client-certificate: {{ cert_dir }}/admin.crt
    client-key: {{ cert_dir }}/admin.key