apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ cert_dir }}/ca.crt
    server: https://127.0.0.1:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: system:kube-scheduler
  name: system:kube-scheduler@kubernetes
current-context: system:kube-scheduler@kubernetes
users:
- name: system:kube-scheduler
  user:
    client-certificate: {{ cert_dir }}/kube-scheduler.pem
    client-key: {{ cert_dir }}/kube-scheduler-key.pem