apiVersion: {{ kubelet_config_api_version }}
kind: KubeletConfiguration

registerNode: true
# hostnameOverride: "{{ inventory_hostname }}"  # Uncomment if you need
authentication:
  x509:
    clientCAFile: "{{ root_ca_file }}"
  anonymous:
    enabled: false
  webhook:
    enabled: true
authorization:
  mode: Webhook

rotateCertificates: {{ kubelet_rotate_certs | bool }}
serverTLSBootstrap: {{ kubelet_server_tls_bootstrap | bool }}

clusterDNS:
  - {{ cluster_dns_ip }}
clusterDomain: {{ cluster_domain }}

containerRuntimeEndpoint: unix:///run/containerd/containerd.sock
cgroupDriver: systemd
resolvConf: /run/systemd/resolve/resolv.conf

kubeReserved:
  cpu: "100m"
  memory: "256Mi"
  ephemeral-storage: "1Gi"
systemReserved:
  cpu: "100m"
  memory: "256Mi"
  ephemeral-storage: "1Gi"
evictionHard:
  "memory.available": "200Mi"
  "nodefs.available": "5%"
  "nodefs.inodesFree": "5%"
  "imagefs.available": "5%"

protectKernelDefaults: true
readOnlyPort: 0
eventRecordQPS: 5