apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
authentication:
  anonymous:
    enabled: false
  webhook:
    enabled: true
  x509:
    clientCAFile: /etc/kubernetes/pki/ca.crt
authorization:
  mode: Webhook
clusterDomain: {{ cluster_domain }}
clusterDNS:
  - {{ kubernetes_service_ip }}
cgroupDriver: systemd
containerRuntimeEndpoint: unix:///var/run/containerd/containerd.sock
failSwapOn: false
healthzBindAddress: 127.0.0.1
healthzPort: 10248
rotateCertificates: true
serverTLSBootstrap: true
staticPodPath: /etc/kubernetes/manifests
volumePluginDir: /usr/libexec/kubernetes/kubelet-plugins/volume/exec/